{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign in</title>
	
	<link rel="stylesheet" href="{% static 'main/css/authentication.css' %}">
	<link rel="icon" href="{% static 'main/img/favicon.ico' %}">
</head>
<body>
	<div class="sign-container">
		<div class="title">Login</div>
		<form class="sign-form" method="post">
		{% csrf_token %}
		{{ form.as_p }}
			<button type="submit" class="sign-button">
				Login
			</button>
		</form>
		<a href="{% url 'signup' %}">
			Don't have an account?
		</a>
	</div>
	<a style="text-decoration: none;" href="{% url 'home' %}" draggable="false">
		<button type="button" class="home-button">Go back</button>
	</a>
</body>
</html>