:root {
	--bright-snow: #f7f9f9ff;
	--ash-grey: #bed8d4ff;
	--pearl-aqua: #78d5d7ff;
	--frozen-lake: #63d2ffff;
	--steel-blue: #2081c3ff;
	
	--min-width: 1000px;
}

@font-face {
  font-family: 'Cantarell';
  src: url('../fonts/Cantarell-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cantarell-bold';
  src: url('../fonts/Cantarell-Bold.ttf') format('truetype');
}

body {
	padding: 0;
	margin: 0;
	background-color: black;/*var(bright-snow);*/
	display: flex;
	flex-direction: column;
	height: 100vh;
}

html,
body {
	overflow: hidden;
}

.page-header-container {
	padding: 0;
	margin: 0;
	background-color: black;
	position: sticky;
	top: 0;
}

.page-header {
	position: sticky;
	top: 0;
	height: fit-content;
	background-image: linear-gradient(0deg, var(--frozen-lake), var(--steel-blue));
	font-family: 'Cantarell';
}

.page-header-content {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding: 1rem 1rem;
}

.page-header-content button {
	appearance: none;
	border: none;
	border-radius: 2rem;
	padding: 1rem 2rem;
	font-size: 1rem;
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
	background-color: var(--pearl-aqua);
	border: none;
	outline: none;
	font-family: 'Cantarell-bold';
	box-shadow: -.25rem .25rem .5rem var(--steel-blue),
				.25rem -.25rem .5rem var(--frozen-lake);
}

.page-header-content-left {
	margin-right: auto;
}

.page-header-content-center {
	
}

.page-header-content-right {
	margin-left: auto;
	display: flex;
	gap: 1.5rem;
}

@media screen and (max-width 550px) {
	.page-header-content-right a {
		font-size: .5rem !important;
	}
}

.welcome-note {
	font-size: 1.5rem;
	font-family: 'Cantarell-bold';
}

.search-container {
	display: flex;
	appearance: none;
	border: none;
	border-radius: 2rem;
	padding: 1rem 2rem;
	font-size: 1rem;
	transition: transform 0.1s ease-in-out;
	background-color: var(--pearl-aqua);
	border: none;
	outline: none;
	font-family: 'Cantarell-bold';
	box-shadow: -.25rem .25rem .5rem var(--steel-blue),
				.25rem -.25rem .5rem var(--frozen-lake);
}

.search-container button {
	appearance: none;
	border: none;
	border-radius: 0;
	padding: 0;
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
	background-color: unset;
	border: none;
	outline: none;
	box-shadow: unset;
}

.search-container button:active {
	box-shadow: none !important;
}

.page-header-content input[type="text"] {
	border: none;
	background: none;
	font-family: 'Cantarell-bold';
	font-size: 1rem;
}

.page-header-content input[type="text"]:focus {
	outline: none;
}

.page-header-content button:hover {
	transform: scale(1.1);
}

.page-header-content button:active {
	box-shadow: inset -.25rem .25rem .5rem var(--steel-blue),
				inset .25rem -.25rem .5rem var(--frozen-lake);
}

@media screen and (max-width: 1000px) {
	.page-header-content-left {
		display: none;
	}
	.search-container {
		width: fit-content;
	}
	.page-header-content input[type="text"] {
		width: 7rem;
	}
	.page-header-content {
		grid-template-columns: auto 1fr auto;
	}
}

.main-body {
	padding: 1rem;
	background-image: linear-gradient(0deg, var(--bright-snow), var(--frozen-lake));
	flex: 1;
	display: flex;
	font-family: 'Cantarell';
	min-height: 0;
}

.main-body-content {
	display: flex;
	flex-direction: row;
	background-color: var(--ash-grey);
	padding: 1rem;
	gap: 1rem;
	border-radius: 2rem;
	flex: 1;
	box-shadow: 0 0 .5rem var(--steel-blue);
}

.main-body-content-left {
	width: 30%;
	background-color: var(--pearl-aqua);
	padding: 1rem;
	padding-top: 0;
	border-radius: 1rem;
	overflow-y: auto;
	min-height: 0;
	box-shadow: inset 0 0 .5rem var(--steel-blue);
}

.content-header {
	background-color: var(--ash-grey);
	position: sticky;
	margin: 0 1rem 1rem 1rem;
	border-radius: 0 0 1rem 1rem;
	top: 0;
	padding: .5rem 1rem .5rem 1rem;
	font-size: 2rem;
	font-family: 'Cantarell-bold';
	z-index: 2;
}

.main-body-content-right {
	width: 70%;
	background-color: var(--pearl-aqua);
	padding: 1rem;
	padding-top: 0;
	border-radius: 1rem;
	overflow-y: auto;
	min-height: 0;
	box-shadow: inset 0 0 .5rem var(--steel-blue);
}

@media screen and (max-width: 1000px) {
	.main-body-content {
		flex-direction: column-reverse;
	}
	
	.main-body-content-left {
		box-sizing: border-box;
		width: 100%;
		height: 40%;
	}
	
	.main-body-content-right {
		box-sizing: border-box;
		width: 100%;
		height: 60%;
	}
}

.mbcr-manager {
	box-sizing: border-box;
	width: 100% !important;
	height: 100% !important;
}

.events-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

@media screen and (max-width: 1200px) {
	.events-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 900px) {
	.events-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

.events-column {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.event-slot {
	border-radius: 1rem;
	background-color: var(--bright-snow);
	box-shadow: -.1rem .1rem .2rem var(--steel-blue);
	overflow: hidden;
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
}

.event-slot:hover {
	transform: scale(1.02);
}

.event-slot:active {
	transform: scale(0.98);
}

.add-event-slot {
	min-height: 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	background-color: #000000aa;
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
	text-align: center;
}

.add-button {
	font-family: 'Cantarell-bold';
	margin: 0;
	padding: .5rem 1rem;
	border-radius: 10rem;
	background-color: #aaaaaaaa;
	font-size: 3rem;
	user-select: none;
}

.add-event-slot:hover {
	transform: scale(1.02);
}

.add-event-slot:active {
	transform: scale(0.98);
}

.event-slot {
	border-radius: 1rem;
	background-color: var(--bright-snow);
	box-shadow: -.1rem .1rem .2rem var(--steel-blue);
	overflow: hidden;
}

.event-slot img {
	width: 100%;
	height: 15rem;
	object-fit: cover;
}

.event-slot-content {
	margin: 1rem;
}


.event-slot-content p {
	margin: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Event display panel*/

.event-display-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(.5rem);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.event-display {
	font-family: 'Cantarell';
	background-color: var(--bright-snow);
    width: 90%;
	height: 90%;
    overflow-y: auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.event-display h2 {
	font-size: 2rem;
}

.event-display p {
	word-wrap: break-word;
	overflow-wrap: break-word;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.event-display img {
    width: 100%;
	max-height: 40%;
    object-fit: cover;
}

.event-content {
	margin: 2rem;
	margin-top: 1rem;
}

.event-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-content-middle {
	display: flex;
	flex-direction: row;
}

.event-content-middle p {
	width: 70%;
	box-sizing: border-box;
}

.participant-container {
    list-style: none;
    padding: 1rem;
    margin: 0;
	border: 1px solid black;
	border-radius: 1rem;
	overflow-y: auto;
	width: 30%;
	box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
	.event-content-middle {
		flex-direction: column;
	}
	
	.event-content-middle p {
		width: 100%;
		box-sizing: border-box;
	}
	
	.participant-container {
		width: 100%;
		box-sizing: border-box;
		max-height: 15rem;
	}
}

.event-content li {
	margin-bottom: .5rem;
	border-bottom: 1px solid black;
}

.event-content li:last-child {
    margin-bottom: 0;
}

.remove-button {
	appearance: none;
	border: none;
	border-radius: 2rem;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
	border: none;
	outline: none;
	font-family: 'Cantarell-bold';
	box-shadow: 0 0 .5rem black;
}

.remove-button:hover {
	transform: scale(1.1);
}

.remove-button:active {
	box-shadow: inset 0 0 .5rem black;
}

.event-control {
	position: sticky;
	bottom: 0;
	margin-top: auto;
	padding: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	gap: 2rem;
	background-image: linear-gradient(0deg, #00000077, #00000000);
}

.event-control-left {
	
}

.event-control-right {
	display: flex;
	gap: 2rem;
}

.event-control button {
	appearance: none;
	border: none;
	border-radius: 2rem;
	padding: 1rem 2rem;
	font-size: 1rem;
	transition: transform 0.1s ease-in-out;
	cursor: pointer;
	border: none;
	outline: none;
	font-family: 'Cantarell-bold';
	box-shadow: 0 0 .5rem black;
}

.event-control button:hover {
	transform: scale(1.1);
}

.event-control button:active {
	box-shadow: inset 0 0 .5rem black;
}